/* IconBookmarkEmpty.css */
.iconBookmarkEmpty {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconBookmarkEmpty path {
  stroke: #FFF;
  stroke-width: 1.5;
  fill: none;
}

