.cardContainer {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
  margin-right: 132px;
  overflow-x: auto;
}

.card {
  position: relative;
  flex: 0 0 auto;
  width: 470px;
  height: 230px;
  background-color: white;
  border-radius: 10px;

  background-position: center;
  background-repeat: no-repeat;
  background-size:cover
}

.tvSeriesContainer {
  width: 100%;
  margin: 32px 0 0 36px
}

.container {
  margin-bottom: 52px;
  overflow-x: auto;
  overflow-y: hidden
}

.title {
  font-size: 32px;
  font-weight: 300;
  color: white;
  margin-bottom: 32px;
  line-height: normal;
  letter-spacing: -0.5px;
}

.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 32px;
}